@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --black: #000000;
  --white: #ffffff;
  --purple: #111B37;
  --darkpurple: #0B0D2A;
  --pink: #ec0d78;
  --orange: #fc7d17;
  --blue: #0099ff;
  --lightpink: #f8b8c4;
}
::-webkit-scrollbar {
  width: 0;
}
/* ::-moz-selection {
  color: var(--orange);
  background: var(--white);
}

::selection {
  color: var(--orange);
  background: var(--white);
} */
.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid var(--white);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 9999;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: linear-gradient(to top, var(--pink), var(--orange));
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 9999;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}
html,
body {
  width: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
.bg-purple {
  background-color: #111B37;
}
a {
  text-decoration: none;
}
.btn {
  color: var(--white);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  padding: 2rem 3rem;
  position: relative;
  z-index: 0;
}
.btn:hover {
  color: var(--white);
}
.btn::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  border: 1.5px solid var(--white);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.btn:hover::before {
  background-image: linear-gradient(to right, var(--pink), var(--orange));
  width: 100%;
  border-radius: 100px;
}
@media (min-width: 992px) {
  .custom-container {
    max-width: 90%;
  }
}
section {
  overflow-x: hidden;
}
.h-100-vh {
  height: 100vh;
}
.pt-17 {
  padding-top: 17rem;
}
.gradient-0 {
  -webkit-text-fill-color: var(--white);
}
.main-title {
  font-weight: 900;
  font-size: 68px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--white);
}
.text-gradient {
  background: -webkit-linear-gradient(90deg, var(--pink), var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
  color: var(--white);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.offcanvas.mega-menu {
  height: 100%;
  background-image: url(../images/mega-menu-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
  overflow-y: auto;
}
.offcanvas.mega-menu .offcanvas-header .btn-close {
  background: unset;
  opacity: 1;
  margin-top: 0.6rem;
}
.offcanvas.mega-menu .offcanvas-header .btn-close:focus {
  box-shadow: none;
}

.cross span {
  display: inline-block;
  width: 3px;
  height: 24px;
  background: var(--white);
  border-radius: 8px;
  transition: all .4s;
}
.offcanvas.mega-menu .offcanvas-header .btn-close:hover .cross span:first-child {
  transform: translate(3px, 1px) rotate(45deg);
  background-color: var(--orange);
}
.offcanvas.mega-menu .offcanvas-header .btn-close:hover .cross span:last-child {
  transform: translate(-4px, 1px) rotate(-45deg);
  background-color: var(--orange);
}
.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-menu li {
  text-align: center;
  position: relative;
}
.main-menu .menu-link {
  color: var(--white);
  font-weight: 500;
  font-size: 96px;
  line-height: 140%;
  text-align: center;
  transition: all .3s;
}
.main-menu .menu-link:hover,
.main-menu .active .menu-link {
  font-weight: 900;
  background: -webkit-linear-gradient(90deg, var(--pink), var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-menu .active::before,
.main-menu .active::after {
  position: absolute;
  content: "(YOU ARE HERE)";
  color: var(--white);
  font-weight: 400;
  font-size: 15px;
  line-height: 156.5%;
  top: 44%;
  transform: translateX(-50%);
  left: 30%;
}
.main-menu .active::after {
  left: unset;
  right: 22%;
}
.product-menu figure {
  display: grid;
  place-content: center;
  border-radius: 50%;
  padding: 1rem;
  overflow: hidden;
  border: 1px dashed var(--white);
}
.menu-title {
  color: #BFBFBF;
  font-weight: 700;
  font-size: 18px;
  line-height: 156.5%;
}
.product-menu-link {
  position: relative;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 156.5%;
  transition: all .3s ease-in-out;
}
.product-menu-link:hover {
  color: var(--orange);
}
.product-menu-link::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  background-color: var(--white);
  width: 0;
  height: 1px;
  transition: all .3s ease-in-out;
}
.product-menu-link:hover::after {
  width: 100%;
}
.menu-bar {
  width: 24px;
}
.menu-bar span {
  width: 7px;
  height: 3px;
  border-radius: 40px;
  background-color: var(--white);
  display: block;
  margin-left: auto;
  transition: all 0.3s;
}
.menu-bar span:nth-child(2) {
  width: 18px;
}
.menu-bar span:last-child {
  width: 24px;
}
.menu-bar span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.nav-links:hover .menu-bar span {
  width: 18px;
}
.nav-links:hover{
  color: var(--orange);
}
.nav-links:hover:has(.menu-bar) span {
  background-color: var(--orange);
}
.scroll-text {
  cursor: pointer;
  position: absolute;
  right: -40px;
  transform: rotate(90deg);
  z-index: 1;
}
.scroll-text svg {
  transform: rotate(-90deg);
  margin-left: 0.4rem;
}
.scroll-text svg #wheel {
  animation: downanimation 1s infinite ease-in-out;
}

/* loader style */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
  display: grid;
  place-content: center;
}
.loader .video-loader {
  width: 300px;
}

.back-bg {
  width: 354px;
  height: 241px;
  background-color: var(--white);
  opacity: 0.1;
  filter: blur(23.5px);
  transform: translate(-50%, -50%) rotate(-90deg);
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 100px;
}

.down-bg {
  z-index: -1;
  border-radius: 100px;
  background-color: var(--white);
  width: 354px;
  height: 64px;
  opacity: 0.33;
  filter: blur(23.5px);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle {
  width: 500px;
  height: 500px;
  top: 50%;
  left: -14%;
  transform: translateY(-50%);
  background-color: var(--white);
  opacity: 0.1;
  filter: blur(23.5px);
  z-index: -1;
  border-radius: 50%;
  animation: pulse 10s linear infinite;
}
@keyframes pulse {
  0% {
    width: 500px;
    height: 500px;
  }
  50% {
    width: 800px;
    height: 800px;
  }
}

.about-text {
  color: var(--white);
  font-weight: 700;
  font-size: 27px;
  line-height: 156.5%;
}

.text-fill {
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  font-weight: 700;
  font-size: 254.08px;
  line-height: 100%;
  color: var(--purple);
  text-shadow: -1px -1px 0 var(--orange), 1px -1px 0 var(--orange),
    -1px 1px 0 var(--orange), 1px 1px 0 var(--orange);
}
.normal-text {
  text-shadow: none;
  bottom: unset;
  top: -66px;
  color: var(--orange);
}
.right {
  right: -14%;
  left: unset;
}

.product-icon::after,
.product-icon::before {
  position: absolute;
  content: "";
}
.product-icon::before {
  background: url(../images/shield.png) no-repeat;
  top: -10px;
  left: 20%;
  width: 49px;
  height: 60px;
}
.product-icon::after {
  background: url(../images/syringe.png) no-repeat;
  top: -20px;
  right: 27%;
  width: 107px;
  height: 29px;
}
.below::before,
.below::after {
  top: unset;
  bottom: 0;
}
.below::before {
  left: 80%;
}
.below::after {
  right: 70%;
  transform: rotate(125deg);
}
.product-list h4,
.product-list p {
  font-size: 27px;
  line-height: 156.5%;
}
.fancybox-content,
.fancybox-image,
.fancybox-slide--image,
.fancybox-button,
.fancybox-button svg,
.fancybox {
  cursor: pointer !important;
}
/* scroll top */
.scroll-top {
  position: fixed;
  bottom: -100px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  background-color: var(--white);
  box-shadow: 0 0 21px var(--white);
  cursor: pointer;
  transition: all 0.3s;
  z-index: 9;
}
.scroll-top.active {
  bottom: 20px;
}

@keyframes downanimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}

.title {
  font-weight: 900;
  font-size: 109.554px;
  line-height: 100%;
  letter-spacing: 0.07em;
  z-index: 0;
}
.back-text {
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 2px rgba(125, 192, 213, 0.22);
  left: 10px;
  z-index: -1;
  font-size: 112.554px;
}
.title .back-text:first-child {
  left: unset;
  right: 10px;
}

.ellipse {
  position: absolute;
  border-radius: 50%;
  background-color: var(--white);
  width: 342px;
  height: 517px;
  opacity: 0.1;
  filter: blur(23.5px);
  z-index: -1;
  top: -12%;
  left: 25%;
  transform: rotate(-90deg);
}

.horizontalContainer {
  position: relative;
}

/* testimonial style */
.trademark-section .back-text,
.testimonial-section .back-text {
  left: 25%;
}
.testimonial-slider {
  display: flex;
}
.testimonial-slider .card {
  border-radius: 20px;
  padding: 28px 36px;
  flex-direction: row;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  width: 100%;
}
.testimonial-slider.card-slider2 .card {
  direction: ltr;
}
.testimonial-slider .card .card-img-top {
  width: 70px;
  height: 70px;
}
.testimonial-slider .card .card-title {
  color: #383838;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
}
.testimonial-slider .card .card-designation {
  color: #b9b9b9;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.testimonial-slider .card .card-text {
  color: #1e1e1e;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.event-section {
  padding-bottom: 10rem !important;
  border-radius: 0 0 100px 100px;
}
.event-section img {
  border-radius: 10px;
}

/* about us style */
.trademark-section,
.about-banner {
  background-image: url(../images/about-banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.trademark-section {
  background-image: url(../images/trademark-section.jpg);
}
.signature {
  position: absolute;
  bottom: 30px;
  right: 50px;
}
.vision-sec h3 {
  font-weight: 700;
  font-size: 46px;
  line-height: 63px;
  text-transform: uppercase;
}
.vision-sec p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.img-hover {
  overflow: hidden;
}
.img-hover:hover::before {
  transition: all .3s;
  position: absolute;
  content: '';
  width: 93%;
  height: 90%;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  z-index: 1;
}
.img-hover img {
  transition: all .3s;
}
.img-hover:hover img {
  transform: scale(1.2);
}

/* footer style */
footer {
  position: sticky !important;
  bottom: 0;
  z-index: -1;
}
footer h4 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--purple);
}
footer p {
  color: #383838;
  font-weight: 500;
  font-size: 16px;
  line-height: 126%;
}
footer a {
  color: var(--blue);
  transition: all 0.3s;
}
footer a:hover svg path,
footer a:hover {
  fill: var(--orange);
  color: var(--orange);
}
.links a {
  color: #383838;
}
.icons-circle {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  background-color: rgb(175, 175, 175, 0.13);
  border-radius: 50%;
}

@media (max-width: 1599px) {
  .title {
    font-weight: 800;
    font-size: 92px;
    letter-spacing: 0.03em;
  }
  .text-fill {
    font-size: 165px;
  }
  .product-list p,
  .about-text {
    font-size: 20px;
    font-weight: 600;
  }
  .main-menu .menu-link {
    font-size: 60px;
  }
}

@media (max-width: 1199px) {
  .main-title {
    font-size: 52px;
  }  
  .main-menu .menu-link {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  
  .event-section h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .event-section p {
    font-size: 16px;
    line-height: 28px;
  }
  .img-hover:hover::before{
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}
@media (max-width: 767px) {
  .vedio-section iframe {
    height: 100%;
  }
  .title {
    font-size: 40px;
    letter-spacing: 0.05em;
  }
  .navbar-brand img {
    max-width: 250px;
  }
  .main-title {
    font-size: 38px;
  }
  .main-menu {
    position: absolute;
    right: 12px;
  }
  .event-section {
    padding-bottom: 3rem !important;
  }
  .event-section:has(h3, p) {
    text-align: center;
  }
  .reverse {
    flex-direction: column-reverse;
  }
}
